torch
torchaudio
torchvision
mmcv==1.7.0
diffusers[torch]
timm
accelerate
tensorboard
tensorboardX
transformers
sentencepiece
ftfy
beautifulsoup4
protobuf==3.20.2
gradio
yapf==0.40.1
opencv-python
bs4
einops
# if you get an error that torch is not defined, comment the following line, install all from requirements.txt 
# and then install xformers
xformers
optimum
peft